{% if img_name is not empty %}
  {% set tile_class = 'tile-small--image' %}
{% endif %}

<div class="tile-small {{tile_class}}">
  <div class="tile__content">
    <h3 class="tile__title">{{title}}</h3>
    <div class="tile__subcription">
    {% if link_text is not empty %}
      <a class="tile__link" href="{{link_href}}">{{link_text}}</a>
    {% elseif subcription is not empty %}
      {{subcription}}
    {% endif %}
    </div>
  </div>
  {% if img_name is not empty %}
  <div class="tile-small__image">
    <img src="{{img_path}}{{img_name}}" alt="AHIP image demo" height="262" width="262">
  </div>
  {% endif %}
</div>
