{% set background_image = 'family_jump.jpg' %}
{% set background_video = 'media/hero-video.mp4' %}
{% set video = 'https://www.youtube.com/embed/dxtVed45gVo' %}

<div class="block-video" style="background-image: url({{ img_path ~ background_image }});">
  <div class="block-video__background">
    <video class="block-video__bg-video" autoplay loop>
      <source src="{{img_path}}media/hero-video.mp4" type="video/mp4">
      <source src="{{img_path}}media/hero-video.ogv" type="video/ogv">
      <source src="{{img_path}}media/hero-video.webm" type="video/webm">
      Your browser does not support HTML5 video.
    </video>
  </div>
  <div class="block-video__container">
    <iframe src="{{ video }}"></iframe>
  </div>
  <div class="block-video__content">
    <div class="block-video__text">
      <h3 class="block-video__title">the story of moises brutus</h3>
      <h2 class="block-video__subtitle">an inspirational comeback</h2>
    </div>
    <div class="block-video__player">
      <span class="block-video__icon">Icon</span>
      <span class="block-video__play">Play video</span>
    </div>
  </div>
</div>
